.Main{
	width: 100%;
	height: 100vh;
	background-color: #fff;
	display: flex;
	margin-top: 75px;
}
.Main__content{

}
.Main__recomendation{
	width: 100%;
	height: 100vh;
	background-color: #dbdbdb;
	position: fixed;
	top: 55px;
	z-index: 30;
	right: 0;
	left: 32%;
	padding: 20px;
}
.Main__header{
	display: flex;
	align-items: center;
}
.Main__userLogo{
	margin-right: 20px;
}
.Main__userName{
	font-weight: 700;
}
.Main__userDate{
	margin-right: 100px;
}
.Main__switch{
	color: rgba(var(--d69,0,149,246),1);
	cursor: pointer;
	opacity: 0.7;
}